<app-header></app-header>
<app-spinner *ngIf="loading"></app-spinner>
<body>
  <div class="container d-flex flex-column align-items-center mt-5">
    <div class="col-8 d-flex flex-column align-items-center">
      <img class="col-10" src="{{spaceshipImage}}" (error)="imageDefault()">
      <hr>
      <h2 class="text-uppercase text-decoration-underline">{{spaceship.name}}</h2>
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-between">
          <p class="col-6"><span class="fw-bold text-warning">Model:</span> {{spaceship.model}}</p>
          <p class="col-6"><span class="fw-bold text-warning">Manufacturer:</span> {{spaceship.manufacturer}}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="col-6"><span class="fw-bold text-warning">Cost in credits:</span> {{spaceship.cost_in_credits}}</p>
          <p class="col-6"><span class="fw-bold text-warning">Length:</span> {{spaceship.length}}</p>
        </div>
        <div class="d-flex justify-content-between">
          <p class="col-6"><span class="fw-bold text-warning">Atmosphering Speed:</span> {{spaceship.max_atmosphering_speed}}</p>
          <p class="col-6"><span class="fw-bold text-warning">Crew:</span> {{spaceship.crew}}</p>
        </div>
      <div>
          <app-pilot [pilotsId]="pilotsId"></app-pilot>
        </div>
      </div>
    </div>
  </div>
</body>
