<body class="d-flex flex-column justify-content-end align-items-end">
  <!-- <h1 class="d-flex justify-content-start">
    <img class="col-4 m-4" src="http://pngimg.com/uploads/star_wars_logo/star_wars_logo_PNG30.png" alt="logo Star Wars">
  </h1> -->
  <div>
    <div class="starwars-demo">
      <img src="//cssanimation.rocks/demo/starwars/images/star.svg" alt="Star" class="star">
      <img src="//cssanimation.rocks/demo/starwars/images/wars.svg" alt="Wars" class="wars">
    </div>
  </div>
  <div class="d-flex justify-content-end me-5">
    <a [routerLink]="['/spaceships']"><img class="milenario" title="FOLLOW ME TO DISCOVER THE WORLD OF STAR WARS..." src="../../../assets/Millenium_Falcon_-_01_35431.png" alt=""></a>
  </div>

</body>

