<body>
  <h1 class="d-flex justify-content-start">
    <img class="col-4 m-4" src="http://pngimg.com/uploads/star_wars_logo/star_wars_logo_PNG30.png" alt="logo Star Wars">
  </h1>
  <div class="d-flex justify-content-end me-5">
    <a [routerLink]="['/spaceships']"><img class="milenario" src="../../../assets/Millenium_Falcon_-_01_35431.png" alt=""></a>
  </div>

  <div id="titles">
    <div id="titlecontent">
      <p>La República Galáctica está
          sumida en el caos. Los
          impuestos de las rutas
          comerciales a los sistemas
          estelares exteriores están en
          disputa.

          Esperando resolver el asunto
          con un bloqueo de poderosas
          naves de guerra, la codiciosa
          Federación de Comercio ha
          detenido todos los envíos al
          pequeño planeta de Naboo...<br><br>
          ¿Quieres
          conocer todos los detalles de
          la saga?<br>
          Sube a bordo del Halcón Milenario
          y prepárate para descubrirlos...
        </p>
    </div>
  </div>
</body>
